@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #f6f6f5df;
    font-size: 18px;
    letter-spacing: .6px;

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
label{
    display: none;
}

header{
    position: sticky;
    top: 0px;
    background-color:#3e697fed;
    width: 100%;
    z-index: 1000;
}
label{
    display: none;
}

.header{
    max-width: 65rem;
    height: 5rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.header__logo-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.header__nav-btn{
    flex: 3;
    display: flex;
    margin-top: 15px;
}

.header__nav-links{
    flex: 2;
}



.header__logo{
    width: 30%;
    height: 100%;
}




.header__nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav-link{
    position: relative;
    margin: 0 10px;
}

.header__nav-link > a{
    line-height: 3rem;
    color: rgb(0, 0, 0);
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.header__nav-link > a > i{
    margin-left: .2rem;
}

.header__nav-link:hover > a{
    transform: scale(1.1);
    text-decoration: underline black;
}

.donate{
    background-color: rgb(35, 54, 62);
    padding: 0 4px;
}
.donate a{
    color:  white;
}
.donate a:hover{
    text-decoration: underline white;
}

.header__dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.header__dropdown ul{
    position: relative;
}

.header__dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #04111b;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.header__dropdown-link:hover > a{
    background-color: #020e16;
    color: #fff;
}

.header__dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.header__dropdown-link i{
    transform: rotate(-90deg);
}



.header__dropdown-link{
    position: relative;
}

.header__dropdown.main__second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}


.header__nav-link:hover > .header__dropdown,
.header__dropdown-link:hover > .header__dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.header__hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.header__hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.header__hamburger-menu div:before,
.header__hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    transition: .5s;
}

.header__hamburger-menu div:before{
    transform: translateY(-7px);
}

.header__hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .header__hamburger-menu-container .header__hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .header__hamburger-menu-container .header__hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .header__hamburger-menu-container .header__hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}






.main__home-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 50vw;
    align-content: center;
    padding-top: 20px;
    
} 
 

.main__first p{
    text-align: center;
    color: rgb(19, 18, 18);
    margin:0  20px;
    margin-bottom: 5px;
    background-color: rgba(89, 89, 79, 0.239);
}

.main__second{
    padding-top: 10px;
}
.main__second::before {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #1f425ac1;
    height: 85%;
}

.main__second h1{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 2em;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4em;
    padding: 20px 20px 0px 20px ;
    margin: 0 auto;
}
.main__container {
    background-color: #d1d5db;
    border-top-left-radius: 10% ;
    border-top-right-radius: 10% ;
    border-bottom-left-radius: 10% ;
    border-bottom-right-radius: 10% ;

    height: 50%;
    width: 95%;
    overflow: hidden;
    margin-right: 30px;
}

.main__container .main__vid video{
    margin-top: 10px;
    width: 40vw;
    height: 40vw;
}

.main__para-1{
    margin-top: 30px;
    padding-top: 15%;
    margin-right: 5px;
}
.main__para-2 h2,.main__para-3 h2{
    text-align: center;

}
.main__para-2,.main__para-3{
    text-align: center;
    margin-right: 5px;
}


.main__third h2{
    text-align: center;
    margin-top: 30px;
}

.main__bank-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 20px 50px;
    margin: 0 10%;
}

.main__bank-1,.main__bank-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: .1px .2px 2px .1px rgb(27, 54, 67);
    border-top-left-radius: 10% ;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.main__bank-1 img,.main__bank-2 img{
    width: 20vw;
    height: 100%;
    margin: 5vw;
}
.main__bank-1 .main__account,.main__bank-2 .main__account{
    margin-bottom: 2em;
    margin-top: .5em;
    
}

footer{
    background-color: rgba(75, 75, 75, 0.8);
}

.footer__logo a img{
    width: 20%;
    height: 100%;
    margin: 0 10%;
}


.footer{
    margin: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.footer__description{
    text-align: center;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer__icons a img{
    width: 50px;
    height: 50px;
    margin: 0 20px;
}
.footer__icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    text-align:  center;
    margin-top: 10px;
}


@media (max-width: 920px){
    .header__logo{
        width: 20%;
        height: 100%;
    }

    .header__hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .header__nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color:#3e697fed;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .header__nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .header__nav-btn .header__nav-link,
    #check:checked ~ .header__nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .header__nav-links{
        flex: initial;
        width: 100%;
    }

    .header__nav-links > ul{
        flex-direction: column;
    }

    .header__nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .header__nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .header__nav-link:hover > a{
        transform: scale(1);
        background-color: #5891ad45;
    }

    .header__dropdown{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #5891ad45;
        display: none;
    }
    
    .header__nav-link:hover > .header__dropdown,
    .header__dropdown-link:hover > .header__dropdown{
        display: block;
    }

    .header__nav-link:hover > a > i,
    .header__dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .header__dropdown-link > a{
        background-color: transparent;
        color: rgb(0, 0, 0);
        padding: 1.2rem 2rem;
        line-height: 1;
    }


    .header__dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }


    .header__dropdown-link:hover > a{
        background-color:#5891ad45;
    }


   .header__nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .header__dropdown i{
        font-size: 1rem;
        transition: .7s;
    }
    .main__second::before {
        content: '';
        border-top-left-radius: 50% 100%;
        border-top-right-radius: 50% 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 0;
        background-color: #1f425a;
        height: 85%;
    }
    .main__container {
        background-color: #d1d5db;
        margin: 0 auto;
    }
    .main__bank-1 img,.main__bank-2 img{
        width: 30vw;
        height: 100%;
        margin: 2vw;
    }


} 

@media (max-width: 650px) {
    .header__logo{
        width: 30%;
        height: 100%;
    }
    .main__bank-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-columns: repeat(2, lfr);
        gap: 4rem;
        padding: 20px 50px;
    }
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2em;
        padding: 20px 20px 0px 20px ;
        margin: 0 5%;
        padding-bottom: 20px;
        align-content: center;
    }
    .main__para-1{
        padding: 0;
    }
    .main__para-2 h2,.main__para-3 h2{
        margin-bottom: 10px;

    }
    .main__vid{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .main__vid video{
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;

    }
    .main__bank-1 img,.main__bank-2 img{
        width: 40vw;
        height: 100%;
        margin: 2vw;
    }

    .footer{
        margin: 0 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .footer__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 4em;
    }
    .footer__logo a img{
        width: 50%;
        height: 100%;
        
    }
    .footer__icons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }


    
}
@media (max-width:500px){
    .header__logo{
        width: 20vw;
        height: 100%;
    }
}

